## SQL Challenge No. 01:

__select count(*) from payment
where amount > 5;__

__select count(*) from actor
where first_name ilike 'p%';__

__select distinct district  from address;__

__select count(title) from film
where rating = 'R' and replacement_cost > 5 and replacement_cost < 15;__

__select count(*) from film
where title ilike '%truman%';__